BEARER_TOKEN=your-super-secret-token
TELEGRAM_TOKEN=123456789:ABCDE-FGHIJ-KLMNO-PQRST-UVW-XYZ
TELEGRAM_ALLOWED_CHAT_ID=
PORT=8080
DATABASE_PATH=accounter.db
LOG_LEVEL=info
ENVIRONMENT=development
TIMEZONE=America/Sao_Paulo
