# Binaries
bin/
accounter

# OS metadata
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local

# Database
db/
*.db
*.db-wal
*.db-shm

# Coverage
coverage.out
coverage.html
